@import '../common/index.css';
.you-tag {
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-align-items: center;
	align-items: center;
	line-height: normal;
	padding: 0.2em 0.5em;
	padding: var(--tag-padding, 0.2em 0.5em);
	color: #fff;
	color: var(--tag-text-color, #fff);
	font-size: 10px;
	font-size: var(--tag-font-size, 10px);
	border-radius: 0.2em;
	border-radius: var(--tag-border-radius, 0.2em);
}
.you-tag:after {
	border-color: currentColor;
	border-radius: 0.2em * 2;
	border-radius: var(--tag-border-radius, 0.2em) * 2;
}
.you-tag--default {
	background-color: #969799;
	background-color: var(--tag-default-color, #969799);
}
.you-tag--default.you-tag--plain {
	color: #969799;
	color: var(--tag-default-color, #969799);
}
.you-tag--danger {
	background-color: #ee0a24;
	background-color: var(--tag-dander-color, #ee0a24);
}
.you-tag--danger.you-tag--plain {
	color: #ee0a24;
	color: var(--tag-dander-color, #ee0a24);
}
.you-tag--primary {
	background-color: #1989fa;
	background-color: var(--tag-primary-color, #1989fa);
}
.you-tag--primary.you-tag--plain {
	color: #1989fa;
	color: var(--tag-primary-color, #1989fa);
}
.you-tag--success {
	background-color: #07c160;
	background-color: var(--tag-success-color, #07c160);
}
.you-tag--success.you-tag--plain {
	color: #07c160;
	color: var(--tag-success-color, #07c160);
}
.you-tag--warning {
	background-color: #ff976a;
	background-color: var(--tag-warning-color, #ff976a);
}
.you-tag--warning.you-tag--plain {
	color: #ff976a;
	color: var(--tag-warning-color, #ff976a);
}
.you-tag--plain {
	background-color: #fff;
	background-color: var(--tag-plain-background-color, #fff);
}
.you-tag--mark {
	padding-right: 0.7em;
}
.you-tag--mark,
.you-tag--mark:after {
	border-radius: 0 999px 999px 0;
	border-radius: 0 var(--tag-round-border-radius, 999px) var(--tag-round-border-radius, 999px) 0;
}
.you-tag--round,
.you-tag--round:after {
	border-radius: 999px;
	border-radius: var(--tag-round-border-radius, 999px);
}
.you-tag--medium {
	font-size: 12px;
	font-size: var(--tag-medium-font-size, 12px);
}
.you-tag--large {
	font-size: 14px;
	font-size: var(--tag-large-font-size, 14px);
}
.you-tag__close {
	margin-left: 2px;
}
